.admin_page{
    background-color: black;
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 20px;
    align-content: center;
    padding: 0 20px;
    .buttons{
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        margin-top: 30px;
        &>button{
            cursor: pointer;
            padding: 10px 80px;
            border-radius: 10px;
            border: 1px solid white;
            &:hover{
                border: 1px solid white;
                background-color: black;
                color: white;
            }
        }
    }
    .create_button{
        margin-top: 30px;
        width: 100%;
        cursor: pointer;
        padding: 10px 80px;
        border-radius: 10px;
        border: 1px solid white;
        &:hover{
            border: 1px solid white;
            background-color: black;
            color: white;
        }
    }
    &>h1{
        margin-top: 20px;
        text-align: center;
        grid-row: 1 / 2;
        grid-column: 2 / 12;
        color: white;
        font-size: 100px;
    }
    &>ul{
        display: flex;
        justify-content: space-around;
        grid-row: 2 / 3;
        grid-column: 2 / 12;
        color: white;
        &>li{
            color: rgba(255, 255, 255, 0.5);
            cursor: pointer;
            &:hover{
                color: #fff;
            }
        }
        .active_tab{
            color: #fff;
        }
    }
    
    &>form{
        display: flex;
        flex-direction: column;
        grid-row: 3 / 4;
        grid-column: 2 / 12;
        border: 1px solid white;
        border-radius: 30px;
        height: max-content;
        padding: 30px;
        margin-bottom: 30px;
        &>label{
            color: white;
        }
        &>input{
            padding: 15px 0;
            border-radius: 10px;
            &::placeholder{
                padding-left: 15px;
            }
        }
        &>textarea{
            border-radius: 10px;
            height: 200px;
            resize: none;
            &::placeholder{
                padding-top: 15px;
                padding-left: 15px;
            }
        }
        .label_title{
            padding-left: 15px;
            margin-top: 10px;
            margin-bottom: 10px;
        }
        .input_file {
            position: relative;
            display: inline-block;
            border-radius: 10px;
        }
        .input_file_text {
            padding: 0 10px;
            line-height: 40px;
            text-align: left;
            height: 40px;
            display: block;
            float: left;
            box-sizing: border-box;
            width: 80%;
            border-radius: 6px 0px 0 6px;
            border: 1px solid #ddd;
        }
        .input_file_btn {
            position: relative;
            display: inline-block;
            cursor: pointer;
            outline: none;
            text-decoration: none;
            font-size: 14px;
            vertical-align: middle;
            color: black;
            text-align: center;
            border-radius: 0 4px 4px 0;
            background-color: white;
            line-height: 22px;
            height: 40px;
            padding: 10px 20px;
            box-sizing: border-box;
            border: none;
            margin: 0;
            transition: background-color 0.2s;
            width: 20%;
        }
        .input_file input[type=file] {
            position: absolute;
            z-index: -1;
            opacity: 0;
            display: block;
            width: 0;
            height: 0;
        }
        .input_file input[type=file]:focus + .input_file_btn {
            box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
        }
        .input_file:hover .input_file_btn {
            border: 1px solid white;
            background-color: black;
            color: white;
        }
        .input_file:active .input_file_btn {
            border: 1px solid white;
            background-color: black;
            color: white;
        }
        .input_file input[type=file]:disabled + .input_file_btn {
            background-color: #eee;
        }
        
    }

    .view_projects{
        color: white;
        grid-column: 2 / 12;
        &>.element{
            border: 1px solid white;
            padding: 40px;
            margin-bottom: 50px;
            &>.info{
                &>*{
                    margin-bottom: 10px;
                }
                &>img{
                    width: 100px;
                    height: 100px;
                }
            }
        }
    }

    .wrapper_feedbacks{
        grid-row: 3 / 4;
        grid-column: 2 / 12;
        .feedback{
            border: 1px solid white;
            border-radius: 30px;
            height: max-content;
            padding: 30px;
            &>h3{
                color: white;
                margin-bottom: 10px;
            }
            &>p{
                margin-bottom: 10px;
            }
            
        }
    }
}

@media (min-width: 768px) and (max-width: 1023.9px) { //laptop 12 fr
    .admin_page{
        grid-template-columns: repeat(12, 1fr);
        &>form{
            .input_file_btn {
                font-size: 10px;
                padding: 10px 0px;
            }
        }
        .view_projects{
            grid-column: 2 / 12;
        }
    }
}

@media (min-width: 425px) and (max-width: 767.9px) { //tablet 8 fr
    .admin_page{
        grid-template-columns: repeat(8, 1fr);
        .buttons{
            flex-direction: column;
            &>button+button{
                margin-top: 20px;
            }
        }
        &>h1{
            grid-row: 1 / 2;
            grid-column: 1 / 9;
            font-size: 60px;
        }
        &>ul{
            grid-row: 2 / 3;
            grid-column: 1 / 9;
        }
        &>form{
            grid-row: 3 / 4;
            grid-column: 1 / 9;
            .input_file_btn {
                font-size: 10px;
                line-height: normal;
                padding: 10px 0px;
            }
        }
        .wrapper_feedbacks{
            grid-row: 3 / 4;
            grid-column: 1 / 9;
            .feedback{
                .buttons{
                    &>button{
                        padding: 10px 20px;
                    }
                }
            }
        }
        .view_projects{
            grid-column: 1 / 9;
        }
    }
}

@media (min-width: 320px) and (max-width: 424.9px) { //mobile 4 fr
    .admin_page{
        .buttons{
            flex-direction: column;
            &>button+button{
                margin-top: 20px;
            }
        }
        grid-template-columns: repeat(4, 1fr);
        &>h1{
            grid-row: 1 / 2;
            grid-column: 1 / 5;
            font-size: 50px;
        }
        &>ul{
            grid-row: 2 / 3;
            grid-column: 1 / 5;
        }
        &>form{
            padding: 20px;
            grid-row: 3 / 4;
            grid-column: 1 / 5;
            &>input{
                padding: 10px 0;
            }
            .input_file_text {
                width: 75%;
            }
            .input_file_btn {
                font-size: 10px;
                line-height: normal;
                width: 25%;
                padding: 10px 0px;
            }
        }
        .wrapper_feedbacks{
            grid-row: 3 / 4;
            grid-column: 1 / 5;
            .feedback{
                .buttons{
                    &>button{
                        padding: 10px 10px;
                    }
                }
            }
        }
        .view_projects{
            grid-column: 1 / 5;
        }
    }
}