.section2{
    position: relative;
    background: linear-gradient(180deg, #390204 0%, #0C0C0C 100%);
    overflow-x: hidden;
    &>img{
        position: absolute;
        height: 100%;
        mix-blend-mode: multiply;
        object-fit: cover;
    }
    .blackout{
        position: absolute;
        width: 100%;
        height: 100%;
        background: linear-gradient(0deg, #000000, #000000);
        opacity: 20%;
    }
.wrapper_about{
    height: auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 0 20px;
    margin: 0 20px;
    height: max-content;
    padding-top: 50px;
    padding-bottom: 100px;
    position: relative;
    &>div{
        grid-column: 1 / 9;
        grid-row: 1 / 2;
        position: relative;
        &>h2{
            margin-bottom: 10px;
        }
        &>hr{
            position: absolute;
            left: -20px;
            height: 3px;
            width: 100%;
        }
    }
    &>img{
        top: 40px;
        position: absolute;
        grid-column: 1 / 5;
        grid-row: 2 / 4;
        width: 100%;
        height: 90%;
        mix-blend-mode: normal;
        filter: blur(2.5px);
        transform: matrix(-1, 0, 0, 1, 0, 0);
    }
    .about_company{
        position: relative;
        margin-top: 50px;
        height: max-content;
        padding: 35px;
        grid-column: 3 / 12;
        grid-row: 2 / 3;
        background: rgba(217, 217, 217, 0.17);
        border-radius: 15px 0px 15px 15px;
        .tabs{
            display: flex;
            position: absolute;
            right: 0;
            top: -15.2px;
            &>div{
                cursor: pointer;
                border-radius: 15px 15px 0 0;
                border: none; 
                background-color: rgba(255, 255, 255, 0.5);
                width: 70px;
                height: 15px;
                &:hover{
                    background-color: #fff;
                }
            }
            .active_tab{
                background-color: #fff;
            }
        }
        .content{
            position: relative;
            z-index: 2;
            &>img{
                position: absolute;
                top: 0;
                height: 100%;
                width: 100%;
                opacity: 30%;
                z-index: -1;
            }
            // position: absolute;
            // left: 93%;
            // transform: translateX(0%);
            // top: 50%;
            // margin-top: -75px;
            // display: flex;
            // justify-content: center;
            // align-items:center;
            // width: 150px;
            // height: 150px;
            // background-color:#fff;
            // border: none;
            // border-radius: 50%;
            // &>img{
            //     width: 80%;
            //     height: 80%;
            // }
        }
        // &>p{
        //     width: 95%;
        // }
    }
    .switches{
        margin-top: 150px;
        grid-row: 3 / 4;
        grid-column: span 5;
        display: flex;
        justify-content: space-around;
        &>div{
            text-align: center;
        }
        .switch_img{
            display: flex;
            align-items:center;
            justify-content: center;
            cursor: pointer;
            width: 200px;
            height: 200px;
            margin-bottom: 15px;
            border: 3px solid rgba(217, 217, 217, 0.17);
            border-radius: 50%;
            &>img{
                border-radius: 50%;
                width: 180px;
                height: 180px;
                object-fit: cover;
            }
        }
        .active_swith{
            border: 3px solid #fff;
        }
    }
    .about_info{
        margin-top: 150px;
        height: max-content;
        grid-row: 3 / 4;
        grid-column: 6 / 13;
        position: relative;
        z-index: 4;
        &>img{
            position: absolute;
            top: -105px;
            left: -53px;
            z-index: 4;
        }
        .background{
            position: absolute;
            width: 100%;
            height: 100%;
            right: -20px;
            background-color: rgba(217, 217, 217, 0.15);
        }
        .info{
            padding: 20px;
            display: flex;
            .label{
                z-index: 1;
                position: absolute;
                width: 35px;
                height: 100%;
                background-color: #681313;
                top: 0;
            }
            .person{
                margin-left: 70px;
                z-index: 1;
                &>h3{
                    color: #fff;
                    margin-bottom: 15px;
                }
                &>p{
                    width: 90%;
                }
            }
        }
    }
}
}

@media (min-width: 1024px) and (max-width: 1439.9px) {
    .section2{
        .wrapper_about{
            &>img{
                margin-top: 60px;
                grid-column: 1 / 6;
                height: 80%;
            }
            .switches{
                &>div+div{
                    margin-left: 10px;
                }
            }
        }
    }
}

@media (min-width: 1024px) and (max-width: 1188.9px) {
    .section2{
        .wrapper_about{
            &>img{
                grid-column: 1 / 6;
                height: 65%;
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 1023.9px) { //laptop 12 fr
    .section2{
        .wrapper_about{
            &>img{
                grid-column: 1 / 5;
                grid-row: 3 / 4;
                height: 100%;
                top: -130px;
            }
            .switches{
                grid-column: 2 / 12;
                .switch_img{
                    width: 150px;
                    height: 150px;
                    &>img{
                        width: 130px;
                        height: 130px;
                    }
                }
                &>div>a{
                    font-size: 18px;
                }
            }
            .about_info{
                grid-row: 4 / 5;
            }
        }
    }
}

@media (min-width: 425px) and (max-width: 767.9px) { //tablet 8 fr
    .section2{
        .wrapper_about{
            grid-template-columns: repeat(8, 1fr);
            &>div{
                grid-column: 1 / 8;
            }
            &>img{
                grid-column: 1 / 4;
                grid-row: 3 / 4;
                height: 100%;
                top: -100px;
            }
            .about_company{
                padding: 20px;
                grid-column: 1 / 9;
            }
            .switches{
                grid-column: 1 / 9;
                .switch_img{
                    width: 140px;
                    height: 140px;
                    &>img{
                        width: 120px;
                        height: 120px;
                    }
                }
            }
            .about_info{
                grid-row: 4 / 5;
                grid-column: 2 / 9;
                &>img{
                    top: -78px;
                    left: -50px;
                    height: 180px;
                }
            }
        }
    }
}

@media (min-width: 546px) and (max-width: 712.9px) {
    .section2{
        .wrapper_about{
            &>img{
                grid-column: 1 / 5;
                height: 100%;
                top: -90px;
            }
        }
    }
}

@media (min-width: 425px) and (max-width: 545.9px) {
    .section2{
        .wrapper_about{
            &>img{
                grid-column: 1 / 6;
                height: 100%;
                top: -90px;
            }
        }
    }
}

@media (min-width: 320px) and (max-width: 424.9px) { //mobile 4 fr
    .section2{
        .wrapper_about{
            grid-template-columns: repeat(4, 1fr);
            &>div{
                grid-column: 1 / 5;
            }
            &>img{
                grid-column: 1 / 4;
                grid-row: 3 / 4;
                height: 100%;
                top: -90px;
            }
            .about_company{
                padding: 15px;
                grid-column: 1 / 5;
            }
            .switches{
                grid-row: 3 / 4;
                grid-column: 1 / 5;
                .switch_img{
                    width: 100px;
                    height: 100px;
                    &>img{
                        width: 80px;
                        height: 80px;
                    }
                }
            }
            .about_info{
                grid-row: 4 / 5;
                grid-column: 1 / 5;
                &>img{
                    top: -61px;
                    left: -40px;
                    height: 140px;
                }
            }
        }
    }
}
