*{
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: "AGOptimaCyr";
    src: 
      local("AGOptimaCyr-Bold"),
      url("./fonts/AGOptimaCyr-Bold.ttf") format("ttf");
}

@font-face {
    font-family: "ArsenicaTrial";
    src: 
      local("ArsenicaTrial-Bold"),
      url("./fonts/ArsenicaTrial-Bold.ttf") format("ttf");
    font-weight: bold;
}
  
html{

    overflow-x: hidden;
}

body{
    font-family: "AGOptimaCyr", sans-serif;
    padding: 0;
    margin: 0;
    /* overflow: hidden; */
    font-weight: bold;
    /* background-color: black; */
}

header{
    height: max-content;

}

section{

}

footer{

}

header, section, footer{
    background-color: #0C0C0C;
}

footer{
    height: max-content;
    border-top: 3px solid #fff;
}

h1, h2, p, li, a{
    color: #fff;
}

h2{
    font-family: "ArsenicaTrial", sans-serif;
    font-size: 50px;
    @media (min-width: 1024px) and (max-width: 1439.9px) {
        font-size: 35px;
    }
}

h3{
    font-size: 35px;
}

h2, h3{
    @media (min-width: 768px) and (max-width: 1023.9px) {
        font-size: 35px;
    }
    @media (min-width: 320px) and (max-width: 767.9px) {
        font-size: 25px;
    }
}

p, a{
    font-size: 24px;
    @media (min-width: 768px) and (max-width: 1023.9px) {
        font-size: 20px;
    }
    /* tablet */
    @media (min-width: 425px) and (max-width: 767.9px) {
        font-size: 15px;
    }
    /* mobile */
    @media (min-width: 320px) and (max-width: 424.9px) {  
        font-size: 12px;
    }
}

a{
    text-decoration: none;
}

li{
    list-style: none;
    font-size: 24px;
    @media (min-width: 768px) and (max-width: 1023.9px) {
        font-size: 20px;
    }
    @media (min-width: 425px) and (max-width: 767.9px) {
        font-size: 15px;
    }
    @media (min-width: 320px) and (max-width: 424.9px) {
        font-size: 12px;
    }
}

hr{
    border: none;
    background-color: white;
}

aside{
    display: flex;
    flex-direction: column;
    align-items: end;
    grid-column: 12 / 13;
    &>a+div{
        margin-top: 85px;
    }
    @media (min-width: 320px) and (max-width: 424.9px) {
        grid-column: 4 / 5;
    
    }
    @media (min-width: 425px) and (max-width: 767.9px) {
        grid-column: 8 / 9;
    
    }
}
