*{
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: "AGOptimaCyr";
    src: 
      local("AGOptimaCyr-Bold"),
      url("./fonts/AGOptimaCyr-Bold.ttf") format("ttf");
}

@font-face {
    font-family: "ArsenicaTrial";
    src: 
      local("ArsenicaTrial-Bold"),
      url("./fonts/ArsenicaTrial-Bold.ttf") format("ttf");
    font-weight: bold;
}
  
body{
    font-family: "AGOptimaCyr", sans-serif;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    font-weight: bold;
}

header{
    height: 1150px;
}

section{

}

footer{

}

header, section, footer{
    background-color: #0C0C0C;
}

footer{
    height: max-content;
    border-top: 3px solid #fff;
}

h1, h2, p, li, a{
    color: #fff;
}

h2{
    font-family: "ArsenicaTrial", sans-serif;
    font-size: 40px;
}

p{
    font-size: 24px;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
    font-size: 24px;
}

hr{
    border: none;
    background-color: white;
}

aside{
    display: flex;
    flex-direction: column;
    align-items: end;
    grid-column: 10 / 13;
    &>a+div{
        margin-top: 85px;
    }
}