.section3{
    border-top: 3px solid white;
    position: relative;
    overflow: hidden;
    .dragon_left{
        position: absolute;
        height: 70%;
        top: 150px;
        left: -300px;
    }
    .dragon_right{
        position: absolute;
        height: 70%;
        top: 150px;
        right: -200px;
    }
    .wrapper_projects{
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-gap: 0 20px;
        margin: 0 20px;
        height: max-content;
        
        .title{
            grid-row: 1 / 2;
            margin-top: 50px;
            height: max-content;
            grid-column: 7 / 13;
            position: relative;
            &>h2{
                padding-left: 20px;
                margin-bottom: 10px;
            }
            &>hr{
                right: -20px;
                position: absolute;
                width: 100%;
                height: 3px;
            }
            .combez{
                top: -191px;
                position: absolute;
                width: 220px;
                height: 420px;
                right: 0;
                transform: matrix(-1, 0, 0, 1, 0, 0);
                z-index: 3;
            }
        }
    }
    .pagination_projects{
        grid-row: 4 / 5;
        grid-column: 4 / 10;
        display: flex;
        justify-content: space-around;
        margin-bottom: 50px;
        &>a{
            color: rgba(255, 255, 255, 0.5);
            &:hover{
                color: #fff;
            }
        }
        .active_tab{
            color: #fff;
        }
    }
}

@media (min-width: 425px) and (max-width: 767.9px) { //tablet 8 fr
    .section3{
        border-top: 3px solid white;
        .wrapper_projects{
            grid-template-columns: repeat(8, 1fr);
            .title{
                grid-column: 3 / 9;
                &>hr{
                    height: 3px;
                }
            }
        }
        .pagination_projects{
            grid-column: 1 / 9;
        }
    }
}


@media (min-width: 320px) and (max-width: 424.9px) { //mobile 4 fr
    .section3{
        border-top: 2px solid white;
        .wrapper_projects{
            grid-template-columns: repeat(4, 1fr);
            .title{
                grid-column: 1 / 5;
                &>hr{
                    height: 2px;
                }
            }
            .pagination_projects{
                grid-column: 1 / 5;
            }
        }
    }
}