$color-bg: #111;
$color-particle: #fff;
$spacing: 3000px;
$time-1: 60s;
$time-2: 120s;
$time-3: 180s;
$time-4: 600s;

@function particles($max) {
    $val: 0px 0px $color-particle;
    @for $i from 1 through $max {
       $val: #{$val},
       random($spacing)+px random($spacing)+px $color-particle;
    }
    @return $val;
 }
 
 @mixin particles($max) {
    box-shadow: particles($max);
 }

.header{
    position: relative;
    .back{
        z-index: 1;
        width: 100%;
        height: 100%;
        mix-blend-mode: overlay;
        position: absolute;
        object-fit: cover;
    }
    .back_rotate{
        z-index: 2;
        width: 100%;
        height: 100%;
        mix-blend-mode: overlay;
        transform: rotate(180deg);
        position: absolute;
        object-fit: cover;
    }
    .particle:after {
        position: absolute;
        content: "";
        top: $spacing;
    }
    .particle_1 {
        animation: animParticle $time-1 linear infinite;
        @include particles(600);
        height: 2px;
        width: 2px;
    }
    .particle_1:after {
        @include particles(600);
        height: 2px;
        width: 2px;
    }
    .particle_2 {
        animation: animParticle $time-2 linear infinite;
        @include particles(200);
        height: 2px;
        width: 2px;
    }
    .particle_2:after {
        @include particles(200);
        height: 2px;
        width: 2px;
    }
    .particle_3 {
        animation: animParticle $time-3 linear infinite;
        @include particles(100);
        height: 3px;
        width: 3px;
    }
    .particle_3:after {
        @include particles(100);
        height: 3px;
        width: 3px;
    }
    .particle_4 {
        animation: animParticle $time-4 linear infinite;
        @include particles(400);
        height: 2px;
        width: 2px;
    }
    .particle_4:after {
        @include particles(400);
        height: 2px;
        width: 2px;
    }

    @keyframes animParticle {
        from { transform: translateY(0px); }
        to   { transform: translateY($spacing * -1); }
    }

    @keyframes moveLeft {
        0% {
            transform: translate(-120%, -5%) scale(0);
          }
          25% {
            transform: translate(-90%, -5%) scale(0.25);
          }
          50% {
            transform: translate(-60%, -5%) scale(0.5);
          }
          75% {
            transform: translate(-30%, -5%) scale(0.75);
          }
          87% {
            transform: translate(-20%, -5%) scale(0.75);
          }
          100% {
            transform: translate(-3.8%, -5%) scale(1);
          }
    }
  
      @keyframes moveTop {
        0% {
            transform: translate(6%, -120%) scale(0);
          }
          25% {
            transform: translate(3%, -90%) scale(0.25);
          }
          50% {
            transform: translate(0%, -60%) scale(0.5);
          }
          75% {
            transform: translate(-3%, -30%) scale(0.75);
          }
          100% {
            transform: translate(-6%, -10%) scale(1);
          }
      }
  
      @keyframes moveRight {
        0% {
            transform: translate(120%, 6%) scale(0);
          }
          25% {
            transform: translate(90%, 3%) scale(0.25);
          }
          50% {
            transform: translate(60%, 0%) scale(0.5);
          }
          75% {
            transform: translate(30%, -3%) scale(0.75);
          }
          100% {
            transform: translate(-2%, -6%) scale(1);
          }
      }
    

    .wrapper_header{
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-gap: 0 20px;
        margin: 0 20px;
        .logo{
            display: flex;
            grid-column: 1 / 3;
            grid-row: 1 / 2;
            z-index: 2;
            margin-top: 40px;
            justify-content: center;
            height: min-content;
            &>img{
                width: 80%;
                height: 100%;
            }
        }
        .circle{
            margin-top: 80px;
            grid-row: 1 / 3;
            aspect-ratio: 1 / 1;
            grid-column: 5 / 12;
            border-radius: 50%;
            border: none;
            position: relative;
            top: 120px;
            z-index: 3;
            &>.circle_background {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: radial-gradient(50% 50% at 50% 50%, rgba(255, 171, 0, 0.7) 0%, rgba(255, 144, 0, 0.7) 30.6%, rgba(255, 121, 0, 0.7) 45.6%, rgba(255, 92, 0, 0.7) 66.1%, rgba(255, 0, 0, 0.7) 100%);
                filter: blur(8px);
                z-index: -1;
                border-radius: inherit;
            }
            &>.head_down, .head_main, .head_right {
                position: absolute;
                background-repeat: no-repeat;
                filter: none;
            }
            &>.head_down {
                top: -6%;
                width: 100%;
                height: 100%;
                transform: translate(-2%);
                animation: moveRight 8s linear;
                &>img{
                    object-fit: contain;
                    height: 100%;
                    width: 100%;
                }
              }
        
              &>.head_main {
                top: -10%;
                width: 100%;
                height: 100%;
                animation: moveTop 8s linear;
                transform: translate(-6%);
                &>img{
                    object-fit: contain;
                    height: 100%;
                    width: 100%;
                }
              }
        
              &>.head_right {
                width: 100%;
                height: 100%;
                top: -5%;
                transform: translate(-3.8%);
                animation: moveLeft 8s linear ;
                &>img{
                    object-fit: contain;
                    height: 100%;
                    width: 100%;
                }
              }
        }
        .circle_large{
            grid-row: 1 / 3;
            grid-column: 1 / 13;
            border-radius: 50%;
            border: none;
            background: radial-gradient(50% 50% at 50% 50%, #000000 0%, #D04223 100%);
            filter: blur(500px);
          }

        &>nav{
            margin-top: 120px;
            z-index: 4;
            grid-column: 7 / 13;
            grid-row: 1 / 3;
            text-align: end;
            &>ul{
                display: flex;
                flex-direction: column;
                align-items: end;
            }
            &>ul>li
            {
                cursor: pointer;
                padding-bottom: 25px;
                padding-top: 25px;
                width: max-content;
            }
            &>ul>li>a{
                color: rgba(255, 255, 255, 0.5);
                &:hover{
                    color: white;
                }
            }
        }
        .content_header{
            z-index: 4;
            text-align: center;
            grid-column: 1 / 7;
            grid-row: 2 / 2;
            .title{
                grid-row: 3 / 4;
                display: flex;
                flex-direction: column;
                align-items: center;
                width: max-content;
                &>h1{
                    width: max-content;
                    font-size: 66px;
                    font-family: "ArsenicaTrial", sans-serif;
                }
                &>h2{
                    width: max-content;
                    font-family: "ArsenicaTrial", sans-serif;
                    font-size: 100px;
                    -webkit-text-stroke-color: #fff;
                    -webkit-text-stroke-width: 1px;
                    -webkit-text-fill-color: transparent;
                }
            }
        }
        .plug_text{
            grid-row: 3 / 4;
            grid-column: 1 / 7;
            z-index: 4;
            margin-bottom: 100px;
            position: relative;
            &>hr{
                position: absolute;
                left: -20px;
                height: 3px;
                width: 100%;
            }
            &>p{
                font-family: 'AGOptimaCyr';
                font-size: 40px;
                font-style: normal;
                font-weight: 400;
                line-height: 40px;
                letter-spacing: 0.15em;
                mix-blend-mode: plus-lighter;
                text-align: start;
                width: 90%;
                padding-top: 30px;
                margin-left: 20px;
            }
        }
    }
}

@media (min-width: 1024px) and (max-width: 1339.9px) { //laptop 12 fr
    .header{
        .wrapper_header{
            &>nav{
                margin-top: 40px;
                &>ul>li{
                    padding-bottom: 30px;
                    font-size: 18px;
                }
            }
            .content_header{
                margin-top: 140px;
                grid-column: 1 / 10;
                .title{
                    &>h1{
                        font-size: 55px;
                    }
                    &>h2{
                        font-size: 50px;
                    }
                }
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 1023.9px) { //laptop 12 fr
    .header{
        .wrapper_header{
            &>nav{
                margin-top: 40px;
                &>ul>li{
                    padding-bottom: 30px;
                    font-size: 15px;
                }
            }
            .content_header{
                margin-top: 140px;
                grid-column: 1 / 10;
                .title{
                    grid-row: 3 / 4;
                    &>h1{
                        font-size: 45px;
                    }
                    &>h2{
                        font-size: 40px;
                    }
                }
            }
            .plug_text{
                grid-column: 1 / 8;
                margin-top: 50px;
                margin-bottom: 50px;
            }
        }
    }
}

@media (min-width: 425px) and (max-width: 767.9px) { //tablet 8 fr
    .header{
        .wrapper_header{
            grid-template-columns: repeat(8, 1fr);
            .logo{
                margin-top: 30px;
                width: 100px;
            }
            .circle{
                margin-top: 140px;
                grid-column: 2 / 8;
            }
            .circle_large{
                margin-top: 140px;
                grid-column: 1 / 9;
            }
            &>nav{
                margin-top: 30px;
                grid-column: 1 / 9;
                &>ul>li
                {
                    padding-bottom: 10px;
                    padding-top: 10px;
                }
            }
            .content_header{
                margin-top: 50px;
                grid-row: 3 / 4;
                grid-column: 1 / 9;
                display: flex;
                justify-content: center;
                .title{
                    text-align: center;
                    &>h1{
                        font-size: 35px;
                    }
                    &>h2{
                        font-size: 45px;
                    }
                }
            }
            .plug_text{
                grid-column: 1 / 7;
                grid-row: 4 / 5;
                position: relative;
                margin-top: 30px;
                margin-bottom: 30px;
                &>hr{
                    position: absolute;
                    height: 2px;
                    width: 100%;
                    left: -20px;
                }
                &>p{
                    font-size: 20px;
                }
            }
        }
    }
}

@media (min-width: 320px) and (max-width: 424.9px) { //mobile 4 fr
    .header{
        .wrapper_header{
            grid-template-columns: repeat(4, 1fr);
            .logo{
                margin-top: 30px;
                width: 100px;
            }
            .circle{
                margin-top: 140px;
                grid-column: 1 / 5;
            }
            .circle_large{
                margin-top: 140px;
                grid-column: 1 / 5;
            }
            &>nav{
                margin-top: 0px;
                grid-column: 1 / 5;
                &>ul>li
                {
                    padding-bottom: 10px;
                    padding-top: 10px;
                }
            }
            .content_header{
                margin-top: 30px;
                grid-row: 3 / 4;
                grid-column: 1 / 5;
                display: flex;
                justify-content: center;
                .title{
                    text-align: center;
                    &>h1{
                        font-size: 28px;
                    }
                    &>h2{
                        font-size: 30px;
                    }
                }
            }
            .plug_text{
                grid-column: 1 / 5;
                grid-row: 4 / 5;
                position: relative;
                margin-top: 30px;
                margin-bottom: 30px;
                &>hr{
                    position: absolute;
                    height: 2px;
                    width: 100%;
                    left: -20px;
                }
                &>p{
                    font-size: 12px;
                }
            }
        }
    }
}